
        p {
            color: white;
            font-size: 40px;
        }
        
        h1 {
            color: white;
            font-size: 72px;
        }
        
        p2 {
            color: white;
            font-size: 40px;
        }
        
        .Andy {
            background-color: black;
        }
        body {background-color: black;}